
body {
    background-color: #f2f2f2;
    color: #222;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

#menu {
    background-color: #222;
    padding: 20px;
}

#menu h2 {
    color: white;
}

#menu a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

#menu a:hover {
    color: #58a6ff;
}

button {
    background-color: #5865f2;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #404eed;
}

main {
    padding: 50px 20px;
}

h1 {
    color: #5865f2;
}

#aviso {
    font-size: 20px;
    font-weight: bold;
}

/* Modo noche */

body.tema-noche {
    background-color: #181818;
    color: white;
}

body.tema-noche #menu {
    background-color: #000;
}